.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.header {
  display: flex;
  align-items: center;
}
.initial-cont {
  padding: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  border-radius: 25px;
}
.name {
  font-weight: 500;
  font-size: 18px;
  margin-right: 20px;
}
.time {
  font-size: 14px;
  color: #94a3b8;
}
.comment-text {
  margin-left: 60px;
  margin-top: 0px;
}
.like {
  display: flex;
  align-items: center;
}
.last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.like-btn {
  color: #64748b;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.blue-btn {
  color: #0b69ff;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
